.logo {
    max-width: 150px;
}

button {
    margin: 0;
    max-height: 24px;
    text-align: center;
    padding-top: 0px;
}

#new-student-form {
    margin: 0% 15%;
    justify-content: center;
}
#edit-student-form {
    margin: 0% 15%;
    justify-content: center;
}
#edit-student {
    display: none;
}
legend {
    margin-top: 5%;
    margin-left: 15%
}
